@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: white;
  --secondary-color: black;
  --background-primary: #f5f5f5;
  --background-secondary: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  position: fixed;
  top: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background: #23232D;
  background: linear-gradient(90deg, #23232D, #252950);
}